<!DOCTYPE html>
<html>
  <head>
    <title>ChatRoom</title>
    <!--<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
  -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/chatroom.js"></script>
   
  </head>
  
  <body>
    <h1>FSE Chat Room<h1>

    <!--
    <div>
      <form name="login" method="post" action="/login">
  		  <input id='name' name="name" type='text' placeholder="name"  />&nbsp;
  		  <input id='participate' type='submit' value='Enter'  />
		  </form>
	  </div>
    -->
    <div id="content" style='margin-bottom:30px'></div>
    <div id="messageDiv">
      <span id="status" style='font-size:small'>Connecting...</span>
      <input type="text" id="input"/>
      <textarea id="textarea" style='display:none'></textarea>
      <input id='button' type='submit' value='ENTER' style='width:70px' />
    </div>
  </body>
</html>
